<div #card class="card rounded-2xl   px-5 py-6 relative min-h-[200px] animate__animated animate__zoomIn transition-all duration-300" >
  <div class="card__header">
<h2 class="my-2.5">    <p-skeleton width="5rem" styleClass="mb-2" /></h2>
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />

    <div class="card__footer">
      <div class="flex justify-between items-end mt-4 h-full ">
        <div class="flex items-center justify-between w-full">

          <p-skeleton width="5rem" styleClass="mb-2" />

          <p-skeleton shape="circle" size="3rem" styleClass="mr-2"  />

        </div>
      </div>
    </div>
  </div>
</div>

